.conoceme{
    display: flex;
    justify-content: center;
    align-items: center;
    background: var(--second-bg-color);
    height: 100dvh;
}

.conoceme-content {
    width: 100%;
    max-width: 1200px;
    padding: 20px  ;
    margin: 5rem;
}

.conoceme-content h2 {
    font-size: 4.2rem;
    font-weight: 700;
    margin-bottom: 2rem;
}

.conoceme-content h3 {
    font-family: 'Electrolize', sans-serif;
    font-size: 3.2rem;
    font-weight: 700;
    color: var(--main-color);
    margin-bottom: 2rem;
}

.conoceme-content p {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 3.5rem;
}

/* ===== RESPONSIVE ABOUT ===== */

@media (max-width: 768px) {

    .conoceme{
        height: auto;
        padding: 4rem 0;
    }

    .conoceme-content {
        margin: 2rem;
    }

    .conoceme-content h2 {
        font-size: 3.2rem;
    }

    .conoceme-content h3 {
        font-size: 2.8rem;
    }

    .conoceme-content p {
        font-size: 1.6rem;
        line-height: 2.8rem;
    }
}