.text-type {
  display: inline-block;
  white-space: pre-wrap;
  font-size: 3.2rem;
  font-weight: 700;
  color: var(--main-color);
}

.text-type__cursor {
  margin-left: 0.25rem;
  display: inline-block;
  opacity: 1;
}

.text-type__cursor--hidden {
  display: none;
}
